.container {
    height: 100vh;
    background-color: var(--mantine-color-body);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.loadingText {
    font-size: 36px;
}